services:
  be:
    container_name: farm-backend-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "7000:7000"
    env_file: .env
    volumes:
      - .:/app
      - /app/node_modules
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: sh -c "npx prisma migrate dev && npm run dev"
